* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --white: #FFF;
	--black: #000000;
    --gray: #7c7c7c2b;
    --light-gray: #7c7c7c6b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1584008547195-c4ed4dc3e675?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box {
    background-color: var(--black);
    width: 95%;
    max-width: 360px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}

input {
    color: var(--white);
    background-color: var(--gray);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    width: calc( 100% - 100px);
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--gray);
    float: right;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: var(--light-gray);
    transition: 0.5s;
}

.mid-box {
    margin-top: 20px;
    padding: 10px;
}

.left-box {
    display: flex;
    flex-direction: column;
    float: left;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
}

.search-icon {
    width: 20px;
    height: 20px;
}

h2 {
    color: white;
    font-size: 24px;
}

.temp {
    color: var(--white);
    margin-top: 10px;
    font-size: 58px;
    font-weight: 600;
}

.icon {
    height: 60px;
    margin-top: 8px;
}

.description {
    color: var(--white);
    text-transform: capitalize;
    font-size: 18px;
}

